.python{
    background-color: #3572A5;
}

.rust{
    background-color: #dea584;
}

.javascript{
    background-color: #f1e05a;
}

.ruby{
    background-color: #701516;
}

.html{
    background-color: #e34c26;
}

.go{
    background-color: #375eab;
}

.java{
    background-color: #b07219;
}

.cpp{
    background-color: #f34b7d;
}

.csharp{
    background-color: #178600;
}

.matlab{
    background-color: #e16737;
}

.php{
    background-color: #4F5D95;
}

.css{
    background-color: #563d7c;
}